
$carouselh1: (
     tamanio-de-fuente: 2rem,
     peso-de-fuente: 1000,
);

$carouselh4: (
      tamanio-de-fuente: 1.5rem,
      peso-de-fuente: 800,
);

$forma-de-texto: (
      estilo-de-fuente: italic,
      texto-transform:uppercase
);