/* -------Carousel------- */
.carousel-caption {
    z-index: 1;
    bottom: 4rem;
    left: 9%;
  }
  .carousel-item {
    height: 35rem;
    background-color: #777;
    
  } 
  .carousel-item > img {
    z-index: 1;
    min-width: 1500px;
    height: 120%; 
    width: 110%;
  }
  .carousel-control-next, .carousel-control-prev{
    width: 9%;
  }
  .carousel-caption h2{
    font-size: 2rem;
    color: rgb(200, 2, 2) !important;
    padding: 1%;
    width: 420px;
    font-weight: 1000;
    font-style: italic;
    text-transform:uppercase;
    margin-bottom: 10rem;
    margin-right: 5rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    border: rgb(175, 0, 0) 5px solid;
  }
  .carousel-caption h4{
    padding: 0.5rem;
    font-weight: 800;
    font-size: 1.5rem;
    font-style: italic;
    text-transform:uppercase;
    color: $color-blanco;
  }
  .carousel-caption img{
    width: 17%;
    margin-bottom: 7rem;
  }
  .carousel-indicators {
    bottom: -2%;
  }
  .carousel-indicators [data-bs-target] {
    width: 5%;
  }