/* -------Carousel------- */
.carousel-caption {
    z-index: 1;
    bottom: 4rem;
    left: 9%;
    & h2{
      font-size: map-get($carouselh2 , tamaño-de-fuente );
      font-weight: map-get($carouselh2 , peso-de-fuente );
      font-style: map-get($forma-de-texto , estilo-de-fuente );
      text-transform: map-get($forma-de-texto , texto-transform );
      color: $color-rojoText !important;
      padding: 1%;
      width: 420px;
      margin-bottom: 10rem;
      margin-right: 5rem;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 15px;
      border: $color-rojoText 5px solid;
    }
    & h4{
      font-size: map-get($carouselh4 , tamaño-de-fuente );
      font-weight: map-get($carouselh4 , peso-de-fuente );
      font-style: map-get($forma-de-texto , estilo-de-fuente );
      text-transform: map-get($forma-de-texto , texto-transform );
      padding: 0.5rem;
      color: $color-blanco;
    }
    & img{
      width: 17%;
      margin-bottom: 7rem;
    }
  }
  .carousel-item {
    height: 35rem;
    background-color: #777;
    & > img {
      z-index: 1;
      min-width: 1500px;
      height: 120%; 
      width: 110%;
    }
  } 

  .carousel-control-next{
    width: 9%;
  }
  .carousel-control-prev{
    @extend .carousel-control-next;
  }
  .carousel-indicators {
    bottom: -2%;
  }
  .carousel-indicators [data-bs-target] {
    width: 5%;
  }