/* -------footer------- */
.container {
  max-width: 100%;

  & div{
    margin-bottom: 10px;
  }
}
.flecha{
  @include flex(0, end,0);
}
.containerp{
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #547173;
    padding: 10px;
}
.containerSub {
  color: $color-blanco;
  @include flex(0, center,0);
  margin: 0;
}
.fab{
  font-size: 3.5vw;
  width: 70%;
  color: $color-blanco;

  &:hover{
    transform: translateY(-8px) scale(1.2);
    transition: all 0.3s;
  }
}

  $marker: (
    envelope: #0c1d68,
    map-marker-alt:  #1a680c,
    phone: #0c5168
  ); 
  @each $marker, $color in $marker {
  .fa-#{$marker}:hover {
    color: $color;
    transform: translateY(-8px) scale(1.4);
    transition: all 0.3s;
    }
  }

  $redes: (
    instagram: #e120e4,
    facebook:  #0c2698,
    whatsapp: #35b81e
  ); 
  @each $red, $color in $redes {
  .fa-#{$red}:hover {
    color: $color;
    }
  }

  .flecha1{
    font-size: 3vw; 
    padding-right: 20px;
    color: $color-blanco;
    @include flex(0, end,0);

    &:hover{
      color: $color-rojoText;
      transform: translateY(-4px) scale(1.2);
      transition: all 0.5s;
    }
  }
