  /* -------inicio header------- */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(33, 33, 33);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
  padding: 0px 2% 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  .cabeceraIcon{
    width: 59px;
    margin: 8px;
  }

  label{
    padding-right: 20px;
    font-size: 20px;
    color: $color-blanco;
    cursor: pointer;
    display: none;
  }
  .navbar ul{
    padding: 0;
    margin: 0;
  }
    .cabecera__lista{
      li{
        position: relative;
        float: left;

          a{
            font-size: 18px;
            padding: 15px 20px;
            color: $color-blanco;
            display: block;
          }
          &:focus-within > ul,
          &:hover > ul{
            display: initial;
          }
          & a:hover{
            background: $color-rojoText;
            color: $color-blanco;
            text-align: start;
            width: 100%;
            transition: all 0.3s;
          }
          .cabecera__sublista{
            position: absolute;
            width: 145px;
            background: rgba(33, 33, 33, 0.7);
            display: none;
          
             li{
              text-align:  start;
              width: 100%;
              border-bottom: 3px solid rgba(255, 0, 0, 0.6);
             }
            }
      }
    }
    #menu-bar{
      display: none;
    }
}

.cabecera__sublista_sublista {
  position: absolute;
  width: 145px;
  background: rgba(63, 63, 63, 0.7);
  display: none;
}
.cabecera__sublista_sublista li {
  text-align: start;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid rgba(255, 0, 0, 0.6);
}

@media (max-width: 1040px) {
  header {
    padding: 0px 0.5% 0 0.5%;
  }
  header .cabecera__lista li a {
    padding: 5px 8px;
  }
}

@media (max-width: 840px) {
  header {
    padding: 0px 0.1% 0 0.1%;
  }
  header .cabecera__lista li a {
    padding: 8px 5px;
  }
}

@media (max-width: 800px) {
  header label {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
    background: rgb(33, 33, 33);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: none;
  }
  header .cabecera__lista li {
    width: 100%;
    border-bottom: 3px solid rgba(255, 0, 0, 0.6);
  }
  header .cabecera__lista li .cabecera__sublista {
    position: relative;
    text-align: left;
    width: 100%;
  }
  header .cabecera__lista li .cabecera__sublista li {
    background: rgb(66, 66, 66);
  }
  header .cabecera__lista li .cabecera__sublista li ul {
    left: 0%;
    width: 100%;
  }
  .cabecera__sublista_sublista {
    position: relative;
    text-align: left;
    width: 100%;
  }
  .cabecera__sublista_sublista  li {
    background: rgb(66, 66, 66);
  }
  .cabecera__sublista_sublista  li ul {
    left: 0%;
    width: 100%;
  }
  #menu-bar:checked ~ .navbar{
    display: initial;
  }
}
  /* fin header */