/* -------inicio Automotores------- */
  #automotores{
    padding: 50px 20px 0 20px;
  }
  .autos{
    gap: 20px;
    @include flex(0, space-evenly,0);
    flex-wrap: wrap;
    position: relative;
    padding-top: 10px;
  }
  .txtAutomotores{
    padding-top: 30px;
    padding-left: 1vw;
  }
  .txtAutomotores li {
    color: $color-blanco;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 1.5vw;
  }
  .contactop{
    position: relative;
    top: -3vh;
    font-size: 30px;
    color: $color-rojizo;
    font-weight: 600;
    font-style: map-get($forma-de-texto , estilo-de-fuente );
    text-transform: map-get($forma-de-texto , texto-transform );
  }
  .automotores{
    position: relative;
    top: 4.2vh;
    font-size: 30px;
    color: $color-rojizo;
    font-weight: 600;
    font-style: map-get($forma-de-texto , estilo-de-fuente );
    text-transform: map-get($forma-de-texto , texto-transform );
    width: auto;
  }
  .linea{
    position: relative;
    top: 22px;
    width: 100%;
    height: 4px;
    background: $color-rojizo;
    z-index: 50;
  }
  //No Son Comandos de Bootstrap
  .card{
    position: relative;
    overflow: hidden;
    width: 580px;
    height: 580px;
    border: 3.5px red solid;
    border-radius: 30px;
  }
  .imgBx:hover{
    transform: scale(1.1);
    transition: all 1s ease;
  }
  .inputauto, .toggle{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    left: 46%;
    outline: none;
    z-index: 1;
  }
  .inputauto{
    opacity: 0;
  }
  .toggle{
    pointer-events: none;
    border-radius: 50%;
    background: $color-blanco;
    transition: 0.5s;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
  }
  .inputauto:checked ~ .toggle{
    box-shadow: 0 0 0 700px rgba(255, 253, 253, 0.7);;
    transform: rotate(225deg);
  }
  .imgBx, .details{
    position: absolute;
    top: 0;
    left: 0;
  }
  .details{
    padding: 13%;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;

    & h2{
      margin-bottom: 16px;
      font-size: 32px;
      color: #000;
    }
    & h6 ul li{
      font-size: 16px;
      color: #000;
    }
  }
  input:checked ~ .details{
    opacity: 1;
    transition-delay: 0.5s;
  }
  #peugeot-308{
    width: 100%;
  }
  #gol-trend{
    width: 100%;
  }
  /* fin Automotores */
  
  /* -------Inicio chapa y pintura------- */
  .chapa-y-pintura{
    padding: 100px 20px 0 20px;
  }
  .imagenchapaypint {
    width: 50%;
  
    & img{
      border-radius: 30px;
      border: 3px red solid;
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .chapaypintura{
    position: relative;
    top: -3vh;
    font-size: 30px;
    color: $color-rojizo;
    font-weight: 600;
    font-style: map-get($forma-de-texto , estilo-de-fuente );
    text-transform: map-get($forma-de-texto , texto-transform );
  }
  .lineacyp{
    position: relative;
    top: -3vh;
    width: 100%;
    height: 4px;
    background: $color-rojizo;
    z-index: 50;
  }
  .titulochapaypinth2{
    color: $color-blanco;
    font-size: 1.9vw;
    font-weight: 300;
    line-height: 1;
    margin-top: 1%;
    display: flex;
    justify-content: start;
    text-decoration: underline;
  }
  .texto-chapaypintura{
    padding-left: 1%;
  
    & li{
    color: $color-blanco;
    padding-top: 1vw;
    padding-left: 1%;
    font-size: 1.5vw;
  }
}
.titulochapaypint{
  width: 50%;
  text-align:justify;
  display: flex;
  flex-direction: column;
}

/* -------Inicio Lubricentro------- */
.lubricentro {
  padding: 100px 20px 0 20px;
}
.imagenLubricentro {
  width: 50%;
   & img {
    border-radius: 30px;
    border: 3px red solid;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}

.lubricentroh2 {
  position: relative;
  top: -3vh;
  font-size: 30px;
  color: rgba(255, 0, 0, 0.7);
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}

.lineacyp {
  position: relative;
  top: -3vh;
  width: 100%;
  height: 4px;
  background: rgba(255, 0, 0, 0.7);
  z-index: 50;
}

.tituloLubricentro{
  color: $color-blanco;
  width: 50%;
  display: flex;
  align-items: center;

}
.texto-lubricentro {
  padding-left: 1%;

  & li {
    color: $color-blanco;
    font-size: 1.5vw;
    margin-top: 4vw;
    text-align:justify;
  }
}


/* -------Inicio Taller Mecanico------- */
.tallermecanico {
  padding: 100px 20px 0 20px;
}
.imagentallermecanico {
  width: 50%;
   & img {
    border-radius: 30px;
    border: 3px red solid;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}

.tallermecanicoh2 {
  position: relative;
  top: -3vh;
  font-size: 30px;
  color: rgba(255, 0, 0, 0.7);
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}

.lineacyp {
  position: relative;
  top: -3vh;
  width: 100%;
  height: 4px;
  background: rgba(255, 0, 0, 0.7);
  z-index: 50;
}

.titulotallermecanico{
  color: $color-blanco;
  width: 50%;
  display: flex;
  align-items: center;
}
.texto-tallermecanico{
  padding-left: 1%;

  & li {
    color: $color-blanco;
    font-size: 1.5vw;
    margin-top: 1.5vw;
    text-align:justify;
  }
}

  /* -------inicio llantas------- */
  .llantas{
    padding: 100px 20px 0 20px;
    & h3{
     color: $color-blanco;
    }
  }
  .imagenrepllantas {
   width: 50%;
   & img {
    border-radius: 30px;
    border: 3px red solid;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
  .titulorepllantash2{
    color: $color-blanco;
    display: flex;
    align-items: center;  
    text-decoration: underline;
  }
  
  .lineacyp {
    position: relative;
    top: -3vh;
    width: 100%;
    height: 4px;
    background: rgba(255, 0, 0, 0.7);
    z-index: 50;
  }
  
  .titulorepllantas {
    color: $color-blanco;
    width: 50%;
    text-align:justify;
    display: flex;
    flex-direction: column;
  }

  .texto-repllanta{
  padding-left: 1%;

     & li {
    color: $color-blanco;
    font-size: 1.5vw;
    margin-top: 1vw;
    text-align:justify;
  }
}
.titulorventllantas{
  padding-top: 3vw;
  padding-bottom: 3vw;
  color: $color-blanco;

}

  .llantasdiv h3{
    @include flex(0, center,0);
    padding: 1%;
    background: $color-rojizo;
    color: $color-blanco;
    font-size: 2.5vw;
  }

  .ventaDeLlantas{
    padding-bottom: 10px;
    text-decoration: underline;
  }
  .llantasp{
    position: relative;
    top: -3vh;
    font-size: 30px;
    color: $color-rojizo;
    font-weight: 600;
    font-style: map-get($forma-de-texto , estilo-de-fuente );
    text-transform: map-get($forma-de-texto , texto-transform );
  }
  .lineallanta{
    position: relative;
    top: -3vh;
    height: 4px;
    background: $color-rojizo;
  }
  .llantasdiv img:hover{
    transform: scale(1.2);
    transition: all 1s ease;
  }
  .llantas__18{
    @include flexdir(wrap,column,1);
    padding: 2%;
    padding-bottom: 4%;

    & div{
      margin: auto;
      overflow: hidden;
      border: 3px red solid;
      border-radius: 30px;
    }
    & img{
      width: 30%;
      width: 40vw;
    }
  }
  .llantas__17{
    @include flexdir(wrap,row,1);
    padding: 2%;
    padding-bottom: 4%;

    & div{
      margin: auto;
      overflow: hidden;
      border: 3px red solid;
      border-radius: 30px;
      width: 40vw;
      height: 42.2vw;
    }
    & img{
      width: 40vw;
    }
  }

  .llantas__16{
    @include flexdir(wrap,0,0);
    gap: 20px;
    padding: 2%;
    padding-bottom: 0;

    & div{
      margin: auto;
      overflow: hidden;
      border: 3px red solid;
      border-radius: 30px;
    }
    & img{
      width: 30%;
      width: 40vw;
    }
  } 

@media (max-width: 680px){
  .txtAutomotores li{
    font-size: 2.5vw;
  }
  .titulochapaypinth2{
    font-size: 3vw;
  }  
  .titulochapaypint{
    width: 100%;
  }
  .imagenchapaypint{
    width: 100%;
    & img{
      width: 100%;
    }
  }
  .texto-chapaypintura li{
    font-size: 2.5vw;
  }
  .tituloLubricentro{
    width: 100%;
  }
  .imagenLubricentro{
    width: 100%;
    & img{
      width: 100%;
    }
  }
  .texto-lubricentro li{
    font-size: 2.5vw;
  }
  .titulotallermecanico{
    width: 100%;
  }
  .imagentallermecanico{
    width: 100%;
    & img{
      width: 100%;
    }
  }
  .texto-tallermecanico li{
    font-size: 2.5vw;
  }
  .texto-repllanta li {
    font-size: 2.5vw;
  }
  .titulorepllantas{
    width: 100%;
  }
  .imagenrepllantas{
    width: 100%;
    & img{
      width: 100%;
    }
  }
}